lib/CMakeFiles/*
Makefile
CMakeFiles/*
*swp
pds
lib/liblib.a
*Cache.txt
*.cmake
*.msh
amesos-failure.dat
solution/*
debugp*
debugr*
three-point-bending
notched_test
input/SCB.geo
.tags*
solid-notched_test/*
pressurized-sneddon/*
fluid-one_frac/*
fluid-PKN_very_fine_backup/*
fluid-PKN_very_fine/*
fluid-PKN_fine/*
fluid-PKN_coarse_matched/*
eaglefrac-acid
eaglefrac-fluid
eaglefrac-pressurized
eaglefrac-solid
pressurized-two_frac/*
compile_commands.json
